<div class="row search-filter">
  <div class="text-muted col-md-7">
    <h4>{{selectedOpt.desc}}</h4>
  </div>
  <div class="col-md-3">
    <select class="custom-select" (change)="onSelect($event)">
      <option *ngFor="let opt of exploreOpt" [value]="opt.id">{{opt.desc}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
  </div>
</div>

<span *ngIf="displayList">
  <div class="row search-filter">

    <div class="col-md-2 col-sm-6 col-xs-12 banner" *ngFor="let movie of displayList; let i = index">
      <div class="card">
        <img class="card-img-top img-fluid" src="{{movie.poster_path}}" alt="movie image">
        <div class="card-footer">
          <a routerLink="/movie-detail/{{movie.id}}">
            <small class="text-muted"> {{movie.release_date | date : 'longDate' }} </small>
          </a>
        </div>
      </div>
    </div>

  </div>
</span>