<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/explore" routerLinkActive="active">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted"> {{ title }} </h3>
  </div>
  <!-- <app-home>please wait, we are sorting out things...</app-home> -->
  <router-outlet></router-outlet>
  <footer class="footer">
    <img class="float-right" src="https://image.tmdb.org/t/p/w45/x1ynrDnk4RgbsnMI9yrdcdEm6Fu.png" />
    <p class="float-left">&copy; {{ title }} 2017</p>
  </footer>

</div>