<span *ngIf="displayList">
  <div class="row">
    <div class="col-md-2 banner" *ngFor="let movie of displayList">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <a routerLink="/movie-detail/{{movie.id}}">{{movie.title | slice:0:13}}...</a></li>
        </ul>
        <img class="card-img-top img-fluid" [src]="movie.poster_path" alt=" movie poster">
        <div class="card-footer">
            <a routerLink="/movie-detail/{{movie.id}}"><small class="text-muted"> {{movie.release_date | date : 'mediumDate'}} </small></a>
        </div>
      </div>
    </div>
  </div>
</span>