<span *ngIf="profile">
  <div class="row">

    <div class="col-md-6  col-sm-12 top-space">
      <div class="row">
        <div class="col-md-12  col-sm-12">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="blv">Name </span><h5> {{profile.firstName}} {{profile.secondName}} </h5>
            </li>
            <li class="list-group-item">
              <span class="blv">Email </span> {{profile.email}} </li>
            <li class="list-group-item">
              <span class="blv">Role </span> Admin </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</span>

<span *ngIf="! profile.firstName">
  <h4>Loading profile...</h4>
</span>