
  <div class="row">
      <div class="col-md-6">
       <nav>
         <ul class="nav nav-pills float-left">
           <li class="nav-item active" href="#"> Profile </li>
         </ul>
       </nav>
      </div>
      <div class="col-md-6">
  
      </div>
    </div>


<span *ngIf="profile">



  <div class="row">

    <div class="col-md-6  col-sm-12 top-space">
      <div class="row">
        <div class="col-md-12  col-sm-12">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="blv">Name </span>
              <h5> {{profile.firstName}} {{profile.secondName}} </h5>
            </li>
            <li class="list-group-item">
              <span class="blv">Email </span> {{profile.email}} </li>
            <li class="list-group-item">
              <span class="blv">Role </span> {{userRole}} </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</span>

<span *ngIf="!profile.email">
  <h4>Loading profile...</h4>
</span>