form {
    display: block;
    margin-top: 0em;
}

.panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

.panel-body {
    position: relative;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.display-block {
    display: block;
}

.content-group {
    margin-bottom: 20px !important;
}

.content-divider {
    text-align: center;
    position: relative;
    z-index: 1;
}

.bg-teal {
    background-color: #009688;
    border-color: #009688;
    color: #fff;
}

.btn-group-lg>.btn, .btn-lg {
    border-radius: 3px;
}

.btn {
    position: relative;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.content-divider>span {
    background-color: #f5f5f5;
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
}

.panel .content-divider>span, .tab-content-bordered .content-divider>span, .modal .content-divider>span {
    background-color: #fff;
}

.content-divider>span:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    z-index: -1;
}

.login-container .page-container .login-form {
    width: 320px;
    margin: 0 auto 20px auto;
}

.login-link {
    margin-top: 12px;
}